@charset "UTF-8";

@font-face {
    font-family: 'Passion One';
    src: url("../fontes/PassionOne-Regular.ttf");
}

@font-face {
    font-family: 'Scriracha';
    src: url("../fontes/Sriracha-Regular.ttf");
}

 :root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Scriracha', cursive;
} 

*{
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte1);
}

header a, footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-size: 10vw;
    font-variant: small-caps;
    font-family: var(--fonte2);
    padding-top: 50px;
}

header > p {
    padding-bottom: 50px;
}

header > p > a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

main > section {
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 3.5em;
}

main > section.normal {
    background-image: url();
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

main > section.imagem {
    background-color: rgb(43, 42, 42);
    color: rgb(255, 255, 255);
}

main > section.imagem > p {
    background-color: rgba(0, 0, 0, 0.250);
    display: inline-block;
    padding: 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 0.8em;
    padding: 10px;
}

